.contact {
    padding-bottom: 25%;
    width: 100%;
    height: 100%;
    background-color:black;
    display: flex;
    align-items: center; 
}

#contactid {
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1%;
    padding-left: 3%;
}

.contact-title {
    padding-left: 36%;
    font-size: 60px;
    font-weight: bold;
    color: white;
    align-items: center;
    text-decoration: underline;
}

.contact-grid {
    padding-left: 15%;
    padding-right: 25%;
    width: 60%;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(6,42%);
    align-items: center;
}

.social-link {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    background-color: black;
    display: inline-block;
    transition: transform 0.5s ease;
  }
  
  .social-link:hover {
    transform: scale(1.1);
  }
  
  .social-link a {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  .social-link img {
    width: 95px;
    margin: auto;
  }

  .social-link-text {
    margin-top: 8px;
    font-size: 25px;
  }
  
  .social-link .socials {
    margin-top: 8px;
    font-size: 14px;
  }

  .social-link-image {
    width: 20px;
    margin: 0 auto;
  }
  


@media screen and (max-width: 720px) {
    .contact-title {
        font-size: 30px;
        padding-left: 18%;
    }

    .contact-grid {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(6,12%);
        align-items: center;
        padding-left: 50px;
        padding-right: 30px;
        
    }

    .social-link-text {
        margin-top: 5px;
        font-size: 8px;
      }
    
}