/* ---------- Desktop Styles ---------- */

.contact { 
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}

#contactid { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3%;
  padding-left: 8%;
  padding-right: 20%;
  padding-bottom: 20%; 
}

.contact-title {
  padding-top: 3%;
  font-size: 60px;
  padding-left: 38%;
  font-weight: bold;
  color: white;
  align-items: center;
  text-decoration: underline;
}

.contact-grid { 
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 5%;
  display: grid;
  gap: 0.3em;
  grid-template-columns: repeat(10,15%);
}

.social-link {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  background-color: black;
  display: inline-block;
  transition: transform 0.5s ease;
  text-align: center;
}

.social-link:hover {
  transform: scale(1.1);
}

.social-link a {
  text-decoration: none;
  color: white;
}

.social-link img {
  width: 90px;
  height: 90px;
  margin: auto;
  display: block;
}

.social-link-text {
  margin-top: 8px;
  font-size: 25px;
}

.social-link .socials {
  margin-top: 8px;
  font-size: 14px;
}

.social-link-image {
  width: 20px;
  margin: 0 auto;
}

/* ---------- Responsive Media Query (Phones) ---------- */
@media only screen and (max-width: 720px) {
  .contact-title {
      font-size: 30px;
      text-align: center;
      padding: 15px 0;
      margin: 0 auto;
  }


  .contact-grid {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-auto-rows: minmax(100px, auto); /* Adjustable height, minimum 100px */
    grid-template-columns: repeat(2, minmax(120px, 0.1fr)); /* Adjustable width, minimum 200px */
    
}


  .social-link img {
      width: 60px;
      height: 60px;
  }

  .social-link-text {
      font-size: 12px;
  }

  .social-link .socials {
      font-size: 10px;
  }
}
