.contact {
    width: 100%;
    height: 100%;
    background-color:black;
    display: flex;
    align-items: center;
}

#contactid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 20px;
}

.contact-title {
    padding-top: 1px;
    padding-left: 33%;
    font-size: 60px;
    font-weight: bold;
    color: white;
    align-items: center;
    text-decoration: underline;
}

.contact-grid {
    width: 50%;
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(4,20%);
    align-items: center;
    padding-left: 30%;
}

p.coding-lang {
    font-size: 20px;
    display: flex;
    padding-left: 25%;
    width: 80%;
    color: white;
}

p.social-icons {
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    padding-right: 2px;
}

.contact-me {
    font-size: 20px;
    display: flex;
    padding-left: 20%;
    padding-bottom: 10px;
    width: 80%;
    color: white;
}


form.myforms {
    display: flex;
    width: 80%;
    height: 100%;
    padding-left: 20%;
}


.click {
    color: black;
    display: inline-block;
    
}

.click:hover {
    scale: 110%;
    transition-duration: 500;
    box-shadow: black;
    display: inline-block;
}



@media screen and (max-width: 512px) {
    .contact-title {
        font-size: 30px;
        padding-left: 20%;
    }

    .contact-me {
        font-size: 11px;
        display: flex;
        padding-left: 15px;
    }

    .contact-grid {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(4,20%);
        align-items: center;
        padding-left: 50px;
        padding-right: 20px;
        
    }

    p.coding-lang {
        font-size: 10px;
        display: flex;
        padding-left: 25%;
        width: 80%;
        color: white;
    }

    /* p.social-icons {
        color: black;
        /* margin-left: -4px; 
        display: flex;
        justify-content: center;
        
    } */

    form.myforms {
        display: flex;
        width: 80%;
        padding-left: 5%;
    }

}