.education {
    width: 100%;
    height: 100%;
    background-color: black;
    padding-bottom: 450px;
    padding-top: 10px;
}

#education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 7%;
    padding-left: 12%;
    padding-bottom: 10%;
}

.education-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    align-items: center;
    text-decoration: underline;
    padding-left: 3%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-lists {
    padding-left: 35px;
    padding-right: 35px;
}

.university-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.education-date {
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
}

ul.education-description {
    list-style-type: disc;
    color: white;
    font-size: 25px;
    padding-left: 30px;
    width: 100%;
}

li.elem{
    width: 100%;
    padding-left: 5px;
}


@media screen and (max-width: 512px) {
    .education-title {
        font-size: 30px;
    }

    .education-lists {
        padding-left: 0.5px;
        
    }
    
    .university-title {
        color: white;
        font-size: 13px;
        font-weight: bold;
    }
    
    .education-date {
        color: white;
        font-size: 12px;
        padding-bottom: 5px;
    }
    
    ul.education-description {
        list-style-type: disc;
        color: white;
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }

    li.elem{
        width: 100%;
        padding-left: 5px;
    }
    
}