.experiences {
    width: 100%;
    padding: 8% 0 8% 12%; /* Top, Right, Bottom, Left*/
    background-color: black;
  }
  
  .experiences-title {
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    padding: 1px 0 2px 3%;
  }
  
  .experience-box {
    background-color: black;
    padding: 5px 10px 5px 3%;
    margin-bottom: 1px;
    width: 88%;
  }
  
  .job-title {
    color: white;
    font-size: 36px;
    font-weight: bold;
  }
  
  .job-date {
    color: white;
    font-size: 25px;
    padding-bottom: 15px;
  }
  
  .experience-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
  }
  
  .experience-image-container {
    flex: 0 0 200px; /* Adjust the width as needed grow, shrink, set inital size*/
    height: 150px; /* Adjust the height as needed */
    overflow: hidden;
    margin-left: 0;
    margin-right: 20px;
    border-radius: 60%; /* Create circular shape */

  }
  
  .experience-image-container img {
    flex: 0 0 160px; /* Grow, Shrink, Base, Adjust the flex value to control the size of the circle */
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
    object-position: center;
    border-radius: 60%; /* Maintain circular shape */
  }
  
  .job-description {
    color: white;
    font-size: 23px;
    line-height: 1.4;
    margin-left: 10px;

  }
  
  .job-description p {
    padding-bottom: 10px;
    margin: 0;
  }
  
  .job-description a {
    color: white;
    text-decoration: none;
  }
  
  @media screen and (max-width: 720px) {
    .experiences-title {
      font-size: 30px;
    }
  
    .job-title {
      font-size: 11px;
      font-weight: bold;
    }
  
    .job-date {
      font-size: 9px;
      padding-bottom: 3px;
    }
  
    .experience-content {
      flex-direction: row; /* Change to row direction */
      align-items: center;
    }
  
    .experience-image-container {
      flex: 0 0 70px; /* Grow, Shrink, Base, Adjust the flex value to control the size of the circle */
      height: 60px;
      margin-right: 10px; /* Add margin-right for spacing */
      border-radius: 50%; /* Create a circle shape */
      overflow: hidden; /* Ensure the image stays within the container */
      display: flex; /* Add flex display to center the image */
      justify-content: center; /* Center the image horizontally */
      align-items: center; /* Center the image vertically */
    }
  
    .experience-image-container img {
      width: 80%;
      height: 100%;
      object-fit: cover; /* Maintain aspect ratio and cover the container */
    }
  
    .job-description {
      font-size: 9px;
      padding-left: 0px;
      padding-right: 7%;
      text-align: left;
      margin-left: 0;
    }
  
    .job-description p {
      line-height: 1.2;
    }
  }
  