.homepage{
    width: 100%;
    height: 100%;
    background-color: black;
    padding-bottom: 350px;
    padding-top: 10px;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 16%;
    padding-bottom: 22%;
    padding-right: 15%; 
}

.title {
    font-size: 80px;
    font-weight: bold;
    color: white;
    padding-top: 50px;
}

.sub-title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.bio {
    color: white;
    font-size: 30px;
    padding-top: 10px;
}




@media screen and (max-width: 512px) {
    .title {
        font-size: 40px;
    }

    .sub-title {
        font-size: 15px;
    }

    .bio {
        font-size: 15px;
    }
}
  
  