.homepage{
    width: full;
    height: full;
    background-color: black;
    padding-bottom: 350px;
    padding-top: 10px;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 18%;
    padding-bottom: 20%;
    padding-right: 15%; 
}

.title {
    font-size: 70px;
    font-weight: bold;
    color: white;
    padding-top: 50px;
}

.sub-title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.name {
    font-size: 70px;
    color: white;
} 

.bio {
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

.Typist-cursor {
    font-size: 70px;
    color: white;
}

.Typist {
    font-size: 70px;
    color: white;
}

.myCursor {
    color: white;
    font-size: 70px;
    justify-content: left;
    /* padding-left: 4px; */
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 60px;
    }

    .name {
        font-size: 60px;
    }

    .sub-title {
        font-size: 30px;
    }

    .Typist {
        font-size: 70px;
    }
}

@media screen and (max-width: 512px) {
    .title {
        font-size: 30px;
    }

    .name {
        font-size: 30px;
    }

    .sub-title {
        font-size: 20px;
    }

    .bio {
        font-size: 14px;
    }

    .Typist {
        font-size: 46px;
    }
}
  
  