.publications {
    width: 100%;
    padding: 2% 0 8% 0; /* Top, Right, Bottom, Left */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .publications-title { 
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    padding: 10% 0 0 3%; 
    margin-left: 12%;
  }
  
  .publications-box {
    background-color: black;
    padding: 0px 10px 5px 3%;
    margin-bottom: 15px;
    width: 88%;
    margin-left: 12%;
  }
  
  .place-title {
    color: white;
    font-style: italic;
    font-size: 25px;
  }

  
  
  
  @media screen and (max-width: 720px) {
    .publications-title {
      font-size: 25px;
    }
  
    .place-title {
      font-size: 11px;
      font-weight: bold;
    }
  
   
   
  
  }
  